body {
    font-family: Helvetica, sans-serif;
}

.main {
    color: darkred;
    text-align: center;
}

.picture {
    width: 250px;
}

h3 {
    color: darkgreen;
}

.steps {
    width: 600px;    
}

.toc,
.ingredients {
    list-style-type: none;
}

li {
    margin: 0 1em 0.5em;
    display: inline;
}

.container {
    margin: 24px;
    border: 4px solid darkgreen;
    background-color: lightgray;
}